@import compass
@import compass/css3
@import colors.sass
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic)
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic)


body
  font-family: 'Ubuntu', sans-serif
  font-size: 15px
  line-height: 22px
  color: $purple
  background-color: $white

a
  color: $red
  &:visited, &:hover
    color: $purple
  &:active
    color: black

#container
  width: 920px
  padding: 20px
  margin: 0 auto

  > h1, > h1 a
    color: $dark_purple
    text-decoration: none

  > section, > nav
    a
      color: $yellow
      &:visited, &:hover
        color: $orange
      &:active
        color: black

    padding: 20px

    color: $white
    background-color: $purple

    border: 4px solid black
    +border-radius(4px)

  $section-width: 600px

  .logo
    width: $section-width
    display: block
    margin: 0 auto

  > section
    width: $section-width
    float: left
    margin-right: 20px

  > nav
    float: left
    width: 200px

  > footer
    clear: left
    width: $section-width
    text-align: center

  .archive
    color: $yellow
    font-weight: bold
    display: block
    float: right

nav
  menu
    +no-bullets
    padding: 0

    a
      text-decoration: none
      text-transform: lowercase
      font-size: 17px

article
  header
    time
      color: $lpurple
      font-style: italic
      float: right

  h1, h1 a
    color: $orange
    text-transform: lowercase
    text-decoration: none
    font-size: 22px


  // h1 a:visited
  //   color: $cool-as-ice

  h1
    border-bottom: 1px solid $lpurple

  h2
    color: $lpurple
    font-size: 15px

  .fold
    display: none

  pre
    padding: 15px
    code
      border: none

  code
    padding: 1px
      top: 0

  pre, code
    font-family: 'Ubuntu Mono', 'Monaco', monospace
    font-size: 14px
    border: 1px solid black
    background-color: $dark_purple
    line-height: 15px
