!!! html

%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
    %link(rel="stylesheet" type="text/css" href="/css/code.css")
    %script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/js/application.js")

    - title Site[:title]
    %title= title.join(' | ')
    %meta{name: 'description', content: description}

  %body
    #container
      %img.logo(src="images/logo-500px.png" alt="tulip")
      -# %h1
      -#   %a(href="/")= Site[:title]
      %section= yield
      %nav
        %menu
          - Links.each do |link|
            %li
              - if link.href =~ %r(^\w+://)
                %a{href:link.href, target:'_blank'}= link.name
              - else
                %a{href:link.href}= link.name

      %footer
        All content &copy; #{Site[:author]}.
        If you'd like to copy, remix, or redistribute this work, please
        %a(href="/pages/about") contact me.
